body{
    background-color: #f8f9fa;
    font-family: "PT Sens";
    color: #212529;
}

h1,
h2,
h3,
h4{
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: url("../img/header-banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.home {
    height: 100vh;
    justify-content: space-between;
}

.events{
    height: 30vh;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding-top: 20px;
}

h1 {
    font-size: 22px;
    align-self: center;
    padding-bottom: 10px;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav a, .card-content a {
    text-decoration: none;
    position: relative;
    margin: 10px 0;
    display: inline-block;
    padding: 12px 10px;
    font-size: 22px;
    color: #212529;
}

nav a::before, 
nav a::after, 
.card-content a::before, 
.card-content a::after{
    content: "";
    background: #e67700;
    height: 3px;
    position: absolute;
    transition: .16s all 0.025s;
}

nav a::before,
.card-content a::before {
    top: 0;
    left: 0;
    right: 100%;
}

nav a:hover ~ nav a::before,
.card-content a:hover ~ .card-content a::before {
    left: 100%;
    right: 0;
}

nav a:hover::before, nav a:hover::after,
.card-content a:hover::before, .card-content a:hover::after {
    left: 0;
    right: 0;
}

nav a::after,
.card-content a::after {
    bottom: 0;
    left: 100%;
    right: 0;
}

nav a:hover ~ nav a::after,
.card-content a:hover ~ .card-content a::after {
    left: 0;
    right: 100%;
}

.text-header span{
    display: flex;
    background-color: #212529E6;
    padding: 1%;
}

.events .text-header{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .text-header{
    margin: 0% 5% 2% 10%;
}

.text-header>span {
    color: #f8f9fa;
    font-family: "Roboto";
    font-size: 50px;
    font-weight: 900;
    text-align: right;
}

main {
    margin-top: 30px;
    padding: 0% 10% 0% 10%;
}

.flex-div {
    display: flex;
    flex-direction: column;
}

.flex-div img{
    max-width: 100%;
}

h2 {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 600;
}

p {
    padding: 5px;
}

main ul {
    list-style: circle;
    padding-left: 20px;
}

.card{
    margin-bottom: 2em;
    flex:1 0 500px;
    box-sizing: border-box;
    margin: 10px 10px -100px 10px;
    max-width: 100%;
}

.card img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

.card-content{
    position: relative;
    top: -100px
}

.card .date{
    display: flex;
    flex-direction: column;
    color: #f8f9fa;
    align-items: flex-end;
}

.card .date span {
    display: flex;
    height: 50px;
    width: 100px;
    background-color: #1864ab;
    justify-content: center;
    align-items: center;
    color: #f8f9fa;
}

.jour {
    border-top-left-radius: 20%;
    font-size:xx-large;
    font-weight: 900;
}

.mois{
    font-size: large;
    border-bottom-left-radius: 20%;
}

.card-content h3{
    margin-top: 10px;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: large;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}


footer {
    background-color: #212529;
    color: #f8f9fa;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-weight: 400;
    height: 100px;
}

@media screen and (min-width: 700px){
    .navbar{
        flex-direction: row;
        padding: 20px;
    }
    .card {
        max-width: calc(50% -  1em - 50px);
     }
}

@media screen and (min-width: 1100px) {
    .flex-div{
        flex-direction: row;
    }
    .flex-div div {
        min-width: 50%;
        margin: 20px;
    }
    .card {
        max-width: calc(25% - 1em);
    }
}